<!doctype html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<div id="app">
    <div class="header justify-content-center">
        <div class="row">
            <div class="col col-md-2 headerfix">
            </div>
            <div class="col navbar">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="/stockapp/#/">
                        <img src="@/assets/images/logo_small.png" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="fix">
                        </div>
                        <div class="navbar-nav" style="width: 100%;">
                            <div class="log" v-if="isLogin" style="padding:9px">
                                <li class="nav-item active">
                                    {{username}},你好
                                </li>
                            </div>
                            <div class="log" v-if="!isLogin">
                                <a class="nav-item nav-link active" href="/stockapp/#/login">登入</a>
                            </div>
                            <div class="log" v-if="isLogin">
                                <a class="nav-item nav-link" @click="logout()">登出</a>
                            </div>
                            <div class="log" v-if="!isLogin">
                                <a class="nav-item nav-link" href="/stockapp/#/register">註冊</a>
                            </div>
                            <div class="log" v-if="isLogin">
                                <a class="nav-item nav-link" href="/stockapp/#/self">個人資訊</a>
                            </div>
                            <div class="log" v-if="isLogin">
                                <a class="nav-item nav-link" href="/stockapp/#/order">下單</a>
                            </div>
                            <div class="log">
                                <a class="nav-item nav-link" href="/stockapp/#/documentation" target="_blank">API文檔</a>
                            </div>
                            <div class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="輸入股票代號搜尋" aria-label="Search" id="stockno">
                                <button class="btn btn-outline-primary my-2 my-sm-0" @click="toSearch()">Search</button>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="container-fluid content">
        <div class="row">
            <div class="col loginText login">
                <img src="@/assets/images/back.png" alt="">
                <div class="information" style="position:absolute;top:10px;margin:20px;margin-left:30px;">
                    <h2>達達股票</h2>
                    <h4><strong>重要訊息</strong></h4>
                    <p><span style="color: #ff0000;"><strong>token只可產生一次(於註冊時產生)</strong></span></p>
                    <p><span style="color: #ff0000;"><strong>請妥善保管token</strong></span></p>
                    <p><a href="/stockapp/#/documentation" target="_blank">按此前往API文檔&gt;&gt;</a></p>
                </div>
            </div>
            <div class="col loginForm login" style="padding-top:100px;">
                <form action="javascript:void(0)">
                    <div class="form-group">
                        <label for="username">帳號</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter username">
                    </div>
                    <div class="usernameValidation">
                        {{usernameErrMsg}}
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password</label>
                        <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                    </div>
                    <div class="passwordValidation">
                        {{passwordErrMsg}}
                    </div>
                    <div class="form-group">
                        <a href="/stockapp/#/register">前往註冊</a>
                    </div>
                    <button type="submit" class="btn btn-primary" @click="flogin()">登入</button>
                </form>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="row" style="padding:15px">
            <div class="col col-md-3 fix">
            </div>
            <div class="col col-md-2">
                <img src="@/assets/images/logo_small.png" alt="">
            </div>
            <div class="col col-md-3">
                <div class="row" style="padding:35px">
                    <div class="col col-md-3">
                        <a href="#" style="text-decoration: none;color:black;">
                            關於我們
                        </a>
                    </div>
                    <div class="col col-md-1">
                        <span>
                            |
                        </span>
                    </div>
                    <div class="col col-md-3">
                        <a href="#" style="text-decoration: none;color:black;">
                            聯繫我們
                        </a>
                    </div>
                    <div class="col col-md-1">
                        <span>
                            |
                        </span>
                    </div>
                    <div class="col col-md-3">
                        <a href="">
                            <img src="@/assets/images/tedu_logo.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
